<div class="nav">
    <h1>Lawn Mower Service</h1>
    <div class="tags">
	        <a href="/contact" class="tag">Contact</a>
            <a href="/pricing" class="tag">Pricing</a>
            <a href="/appointment" class="tag">Make an Appointment</a>
            <a href="/" class="tag">Home</a>
    </div>
</div>
<br><hr>