<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just a Page</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
	<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	  <script src = "/public/script.js"></script>
</head>
<body>
	<div class="container">
		{{>nav}}
	    {{{body}}}
	</div>
</body>
</html>