
<article>
	<h2 class="title">How it Works</h2>
	<hr>
	<div class="content">
	    This is how the service works
	</div>
</article>
<article>
	<h2 class="title">Who We Are</h2>
	<hr>
	<div class="content">
	    This is who we are
	</div>
</article>